mixin communicate(mods)
  -
    const baseName = 'communicate'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  section.communicate(class=allMods)&attributes(attributes)
    h2.communicate__title.title-80 Связаться с нами
    form.communicate__form
      .communicate__item
        .communicate__input
          input.communicate__inp#name-field(type="text", required)
          label.communicate__placeholder(for="name-field") Ваше имя
        p.communicate__err Поле заполнено некорректно
      .communicate__item
        .communicate__input
          input.communicate__inp#email-field(type="text", required)
          label.communicate__placeholder(for="email-field") E-mail
        p.communicate__err Поле заполнено некорректно
      .communicate__item
        .communicate__input
          input.communicate__inp#tel-field(type="text", required)
          label.communicate__placeholder(for="tel-field") Телефон
        p.communicate__err Поле заполнено некорректно
      .communicate__item
        .communicate__input.communicate__input_big
          textarea.communicate__textarea#text-field(required)
          label.communicate__placeholder(for="text-field") Сообщение
        p.communicate__err Поле заполнено некорректно



      .communicate__text
        p.communicate__info Нажимая на кнопку «Отправить» я даю согласие на условия
          a.communicate__link &nbsp;политики в отношении обработки персональных данных
        +button("Отправить", type="submit").communicate__button
