extends ../../layout/layout

block variables
  -
    const pageName = 'contacts'
    const pageTitle = 'contacts'

block content
  main
    .inner
      +bread-crumbs
      +ui-h1
      +departments
      +cosials
      +address

