mixin cosials(mods)
  -
    const baseName = 'cosials'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .cosials.cosials_mb(class=allMods)&attributes(attributes)
    header.cosials__title.title-32 Мы в социальных сетях
    section.cosials__links
      a.cosials__link.cosials__link-vk(href="#")
        +vk
      a.cosials__link.cosials__link-youtube(href="#")
        +youtube
      a.cosials__link.cosials__link-ok(href="#")
        +ok



