mixin ui-h1(mods)
  -
    const baseName = 'ui-h1'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-h1(class=allMods)&attributes(attributes)
    h1.ui-h1.title-120.ui-h1_mb Контакты
