mixin reset
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 48 48' fill='none')
    path(d='M18.15 18.15L29.85 29.85' stroke='#A5B7B3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
    path(d='M18.15 29.85L29.85 18.15' stroke='#A5B7B3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
mixin tick
  svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M20 7L14.6093 13.4688C12.4732 16.0322 11.4051 17.3139 10 17.3139C8.59488 17.3139 7.52681 16.0322 5.39067 13.4688L4 11.8' stroke='#62215B' stroke-width='2' stroke-linecap='round')
mixin arrow-bottom
  svg(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M16 17L11 22M11 22L6 17M11 22L11 10C11 8.93913 11.4214 7.92172 12.1716 7.17157C12.9217 6.42143 13.9391 6 15 6L22 6' stroke='#5C5772' stroke-linecap='round' stroke-linejoin='round')

mixin ok
  svg(width='37' height='60' viewbox='0 0 37 60' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M26.6401 42C26.6401 42 24.7201 42.16 25.3601 43.28C25.8401 44.4 33.6801 51.28 34.1601 53.2C34.6401 55.12 35.4401 55.76 32.8801 58.32C30.3201 60.72 28.4001 60.24 24.0801 55.92C19.9201 51.44 17.8401 49.68 17.8401 49.68C17.8401 49.68 15.7601 51.6 11.6001 55.92C7.44007 60.4 5.36007 60.88 2.80007 58.32C0.240071 55.92 1.04007 55.44 1.52007 53.2C2.00007 51.28 9.84007 44.24 10.3201 43.28C10.8001 42.16 9.04007 42 9.04007 42C-2.79993 40.56 0.400071 33.2 0.400071 33.2C3.28007 28.72 8.08007 31.92 8.08007 31.92C12.8801 35.28 18.1601 34.32 18.1601 34.32C18.1601 34.32 23.4401 35.12 28.2401 31.92C28.2401 31.92 32.7201 28.56 35.9201 33.2C35.6001 33.2 38.8001 40.56 26.6401 42ZM17.8401 29.84C9.68007 29.84 3.12007 23.12 3.12007 15.12C3.12007 7.11999 9.84007 0.399994 17.8401 0.399994C25.8401 0.399994 32.5601 7.11999 32.5601 15.12C32.5601 23.12 26.0001 29.84 17.8401 29.84ZM17.8401 8.87999C14.3201 8.87999 11.7601 11.6 11.7601 14.96C11.7601 18.32 14.4801 21.04 17.8401 21.04C21.2001 21.04 23.9201 18.32 23.9201 14.96C23.9201 11.6 21.3601 8.87999 17.8401 8.87999Z' fill='#F7931E')
mixin vk
  svg(width='66' height='40' viewbox='0 0 66 40' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M35.9473 40C13.3977 40 0.535915 24.985 0 0H11.2954C11.6665 18.3383 19.9936 26.1061 26.5894 27.7077V0H37.2257V15.8158C43.7391 15.1351 50.5815 7.92793 52.8901 0H63.5261C61.7535 9.76977 54.3331 16.977 49.0564 19.9399C54.3331 22.3423 62.7845 28.6286 66 40H54.2919C51.7772 32.3924 45.5118 26.5065 37.2257 25.7057V40H35.9473Z' fill='#0077FF')
mixin youtube
  svg(width='66' height='46' viewbox='0 0 66 46' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M64.0617 7.15269C63.3078 4.33578 61.0939 2.12211 58.277 1.36806C53.1766 4.09511e-07 32.7148 0 32.7148 0C32.7148 0 12.2533 4.09511e-07 7.15267 1.36806C4.33578 2.12211 2.12211 4.33578 1.36806 7.15269C4.09511e-07 12.2533 0 22.9015 0 22.9015C0 22.9015 4.09511e-07 33.5498 1.36806 38.6504C2.12211 41.4673 4.33578 43.681 7.15267 44.4349C12.2533 45.803 32.7148 45.803 32.7148 45.803C32.7148 45.803 53.1766 45.803 58.277 44.4349C61.0939 43.681 63.3078 41.4673 64.0617 38.6504C65.4299 33.5498 65.4299 22.9015 65.4299 22.9015C65.4299 22.9015 65.4244 12.2533 64.0617 7.15269Z' fill='#FF0000')
    path(d='M26.1658 32.7158L43.1642 22.9025L26.1658 13.089V32.7158Z' fill='white')
mixin sms
  svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M1.6665 7.08335C1.6665 4.16669 3.33317 2.91669 5.83317 2.91669H14.1665C16.6665 2.91669 18.3332 4.16669 18.3332 7.08335V12.9167C18.3332 15.8334 16.6665 17.0834 14.1665 17.0834H5.83317' stroke='#00AA88' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
    path(d='M14.1668 7.5L11.5585 9.58333C10.7002 10.2667 9.29183 10.2667 8.43349 9.58333L5.8335 7.5' stroke='#00AA88' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
    path(d='M1.6665 13.75H6.6665' stroke='#00AA88' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
    path(d='M1.6665 10.4167H4.1665' stroke='#00AA88' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
mixin call
  svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M18.3082 15.275C18.3082 15.575 18.2415 15.8834 18.0998 16.1834C17.9582 16.4834 17.7748 16.7667 17.5332 17.0334C17.1248 17.4834 16.6748 17.8084 16.1665 18.0167C15.6665 18.225 15.1248 18.3334 14.5415 18.3334C13.6915 18.3334 12.7832 18.1334 11.8248 17.725C10.8665 17.3167 9.90817 16.7667 8.95817 16.075C7.99984 15.375 7.0915 14.6 6.22484 13.7417C5.3665 12.875 4.5915 11.9667 3.89984 11.0167C3.2165 10.0667 2.6665 9.11669 2.2665 8.17502C1.8665 7.22502 1.6665 6.31669 1.6665 5.45002C1.6665 4.88335 1.7665 4.34169 1.9665 3.84169C2.1665 3.33335 2.48317 2.86669 2.92484 2.45002C3.45817 1.92502 4.0415 1.66669 4.65817 1.66669C4.8915 1.66669 5.12484 1.71669 5.33317 1.81669C5.54984 1.91669 5.7415 2.06669 5.8915 2.28335L7.82484 5.00835C7.97484 5.21669 8.08317 5.40835 8.15817 5.59169C8.23317 5.76669 8.27484 5.94169 8.27484 6.10002C8.27484 6.30002 8.2165 6.50002 8.09984 6.69169C7.9915 6.88335 7.83317 7.08335 7.63317 7.28335L6.99984 7.94169C6.90817 8.03335 6.8665 8.14169 6.8665 8.27502C6.8665 8.34169 6.87484 8.40002 6.8915 8.46669C6.9165 8.53335 6.9415 8.58335 6.95817 8.63335C7.10817 8.90835 7.3665 9.26669 7.73317 9.70002C8.10817 10.1334 8.50817 10.575 8.9415 11.0167C9.3915 11.4584 9.82484 11.8667 10.2665 12.2417C10.6998 12.6084 11.0582 12.8584 11.3415 13.0084C11.3832 13.025 11.4332 13.05 11.4915 13.075C11.5582 13.1 11.6248 13.1084 11.6998 13.1084C11.8415 13.1084 11.9498 13.0584 12.0415 12.9667L12.6748 12.3417C12.8832 12.1334 13.0832 11.975 13.2748 11.875C13.4665 11.7584 13.6582 11.7 13.8665 11.7C14.0248 11.7 14.1915 11.7334 14.3748 11.8084C14.5582 11.8834 14.7498 11.9917 14.9582 12.1334L17.7165 14.0917C17.9332 14.2417 18.0832 14.4167 18.1748 14.625C18.2582 14.8334 18.3082 15.0417 18.3082 15.275Z' stroke='#00AA88' stroke-width='2' stroke-miterlimit='10')
    path(d='M15.4167 7.50004C15.4167 7.00004 15.025 6.23337 14.4417 5.60837C13.9083 5.03337 13.2 4.58337 12.5 4.58337' stroke='#00AA88' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
    path(d='M18.3333 7.50002C18.3333 4.27502 15.725 1.66669 12.5 1.66669' stroke='#00AA88' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
mixin ic-arr-def
  svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M4.75342 3.7933L10.0868 3.7933C11.9268 3.7933 13.4201 5.28663 13.4201 7.12663C13.4201 8.96663 11.9268 10.46 10.0868 10.46H2.75342' stroke='#364A46' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
    path(d='M4.28674 8.79333L2.58008 10.5L4.28674 12.2067' stroke='#364A46' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
mixin ic-arr-act
  svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M3.7933 11.2467L3.7933 5.91337C3.7933 4.07337 5.28663 2.58004 7.12663 2.58004C8.96663 2.58004 10.46 4.07337 10.46 5.91337L10.46 13.2467' stroke='#00AA88' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
    path(d='M8.79321 11.7134L10.4999 13.42L12.2065 11.7134' stroke='#00AA88' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
