mixin reset
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 48 48' fill='none')
    path(d='M18.15 18.15L29.85 29.85' stroke='#A5B7B3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
    path(d='M18.15 29.85L29.85 18.15' stroke='#A5B7B3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
mixin tick
  svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M20 7L14.6093 13.4688C12.4732 16.0322 11.4051 17.3139 10 17.3139C8.59488 17.3139 7.52681 16.0322 5.39067 13.4688L4 11.8' stroke='#62215B' stroke-width='2' stroke-linecap='round')
mixin arrow-bottom
  svg(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M16 17L11 22M11 22L6 17M11 22L11 10C11 8.93913 11.4214 7.92172 12.1716 7.17157C12.9217 6.42143 13.9391 6 15 6L22 6' stroke='#5C5772' stroke-linecap='round' stroke-linejoin='round')

mixin ok
  svg(width='37' height='60' viewbox='0 0 37 60' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M26.6401 42C26.6401 42 24.7201 42.16 25.3601 43.28C25.8401 44.4 33.6801 51.28 34.1601 53.2C34.6401 55.12 35.4401 55.76 32.8801 58.32C30.3201 60.72 28.4001 60.24 24.0801 55.92C19.9201 51.44 17.8401 49.68 17.8401 49.68C17.8401 49.68 15.7601 51.6 11.6001 55.92C7.44007 60.4 5.36007 60.88 2.80007 58.32C0.240071 55.92 1.04007 55.44 1.52007 53.2C2.00007 51.28 9.84007 44.24 10.3201 43.28C10.8001 42.16 9.04007 42 9.04007 42C-2.79993 40.56 0.400071 33.2 0.400071 33.2C3.28007 28.72 8.08007 31.92 8.08007 31.92C12.8801 35.28 18.1601 34.32 18.1601 34.32C18.1601 34.32 23.4401 35.12 28.2401 31.92C28.2401 31.92 32.7201 28.56 35.9201 33.2C35.6001 33.2 38.8001 40.56 26.6401 42ZM17.8401 29.84C9.68007 29.84 3.12007 23.12 3.12007 15.12C3.12007 7.11999 9.84007 0.399994 17.8401 0.399994C25.8401 0.399994 32.5601 7.11999 32.5601 15.12C32.5601 23.12 26.0001 29.84 17.8401 29.84ZM17.8401 8.87999C14.3201 8.87999 11.7601 11.6 11.7601 14.96C11.7601 18.32 14.4801 21.04 17.8401 21.04C21.2001 21.04 23.9201 18.32 23.9201 14.96C23.9201 11.6 21.3601 8.87999 17.8401 8.87999Z' fill='#F7931E')
mixin vk
  svg(width='66' height='40' viewbox='0 0 66 40' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M35.9473 40C13.3977 40 0.535915 24.985 0 0H11.2954C11.6665 18.3383 19.9936 26.1061 26.5894 27.7077V0H37.2257V15.8158C43.7391 15.1351 50.5815 7.92793 52.8901 0H63.5261C61.7535 9.76977 54.3331 16.977 49.0564 19.9399C54.3331 22.3423 62.7845 28.6286 66 40H54.2919C51.7772 32.3924 45.5118 26.5065 37.2257 25.7057V40H35.9473Z' fill='#0077FF')
mixin youtube
  svg(width='66' height='46' viewbox='0 0 66 46' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M64.0617 7.15269C63.3078 4.33578 61.0939 2.12211 58.277 1.36806C53.1766 4.09511e-07 32.7148 0 32.7148 0C32.7148 0 12.2533 4.09511e-07 7.15267 1.36806C4.33578 2.12211 2.12211 4.33578 1.36806 7.15269C4.09511e-07 12.2533 0 22.9015 0 22.9015C0 22.9015 4.09511e-07 33.5498 1.36806 38.6504C2.12211 41.4673 4.33578 43.681 7.15267 44.4349C12.2533 45.803 32.7148 45.803 32.7148 45.803C32.7148 45.803 53.1766 45.803 58.277 44.4349C61.0939 43.681 63.3078 41.4673 64.0617 38.6504C65.4299 33.5498 65.4299 22.9015 65.4299 22.9015C65.4299 22.9015 65.4244 12.2533 64.0617 7.15269Z' fill='#FF0000')
    path(d='M26.1658 32.7158L43.1642 22.9025L26.1658 13.089V32.7158Z' fill='white')
